@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {
  --color-blue: #424885;
  --color-yellow: #EAC435;
  --color-grey: #999999;
  --color-dark-grey: #292929;
}


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

:focus {
  outline: none;
}

html {
  box-sizing: border-box;
  font-size: 62.5%
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.container {
  max-width: 875px;
  padding-top: 89px;
  margin: 0 auto;
}

@media (min-width: 1153px) {
  .container {
    max-width: 1161px;
  }
}

@media (min-width: 696px) and (max-width: 970px) {
  .container {
    max-width: 648px;
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .container {
    max-width: 354px;
  }
}

.button {
  background-color: none;
  width: 203px;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0px;
}

.button:focus {
  outline: none;
}

.block { display: block !important }

.navbar {
  width: 100%;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* filter: drop-shadow(0px 0px 20px rgba(104, 104, 104, 0.17)); */
  box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
  position: fixed;
  z-index: 99;
  background-color: #fff;
}

.navbar-mob {
  display: none;
}

.navbar__back {
  background-color: var(--color-yellow);
  font-size: 18px;
  font-weight: 700;
  width: auto;
  height: auto;
  border: none;
  color: #fff;
  padding: 12px 27px;
  margin-right: 15px;
  text-decoration: none;
}

.navbar__button {
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  background-color: #fff;
}

.navbar__logo {
  /* width: 100%;
  height: 100%; */
}

.navbar__search {
  background-color: #f0f0f0;
  width: 352px;
  height: 45px;
  padding: 13px 20px 13px 50px;
  border: none;
  font-weight: 300;
  margin-right: auto;
  margin-left: 107px;
  font-size: 18px;
  font-family: inherit;
}

.navbar__search::placeholder {
  padding-left: 0;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-grey);
}

.search-icon {
  position: absolute;
  left: 230px;
}

.navbar__modal {
  display: none;
  position: absolute;
  top: 85px;
  left: 0;
  padding-left: 140px;
  background-color: #fff;
  width: 100%;
  /* min-height: 700px; */
  box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
  z-index: 99;
}

.navbar__modal__title {
  color: var(--color-dark-grey);
  font-size: 36px;
  font-weight: 700;
  margin-top: 40px;
}

.navbar__modal__cards {
  margin-top: 21px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.navbar__modal__card {
  width: 250px;
  height: 250px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
}

.navbar__modal__card:not(:last-child) {
  margin-right: 25px;
}

.navbar__modal__card__img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.navbar__modal__info {
  padding-left: 19.23px;
  padding-right: 19.23px;
  position: absolute;
  left: -.6px;
  width: 100.6%;
  height: 50%;
  top: 100.4%;
  transform: translateY(-100%);
  background-color: #fff;
}

.navbar__modal__info__title {
  color: var(--color-dark-grey);
  padding-top: 19.23px;
  font-size: 24px;
  font-weight: 700;
}

.navbar__modal__info__courses {
  margin-top: 5px;
  font-size: 14px;
  font-weight: 500;
}

.navbar__modal__info__button {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
  background-color: var(--color-yellow);
  padding: 5px 15px;
  border: none;
  margin-bottom: 24px;
  text-align: center;
  text-decoration: none
}

.navbar__modal__info__button:focus {
  outline: none;
}

.navbar__modal__link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 45px;
  font-weight: 600;
  color: var(--color-blue);
  font-size: 22px;
  text-decoration: none;
}


@media (min-width: 1153px) {
  .navbar {
    padding: 25px 60px;
  }

  .navbar__back {
    font-size: 24px;
    padding: 10.5px 23.8px;
  }

  .navbar__button {
    font-size: 24px;
    padding: 9px 38.5px;
    width: auto;
    height: auto;
  }

  .navbar__logo {
    width: 53px;
    height: 59px;
  }

  .navbar__search {
    width: 472px;
    height: 50px;
    padding: 12.5px 20px 12.5px 55px;
    margin-left: 115px;
    font-size: 24px;
    line-height: 25.2px;
  }

  .navbar__search::placeholder {
    font-size: 24px;
    line-height: 25.2px;
    /* padding: 12.5px 0 12.5px 0; */
  }

  .search-icon {
    left: 245px;
    width: 25px;
    height: 21px;
  }

  .navbar__modal {
    display: none;
    position: absolute;
    top: 85px;
    left: 0;
    padding-left: 140px;
    background-color: #fff;
    width: 100%;
    /* min-height: 700px; */
    box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
    z-index: 99;
  }
  
  .navbar__modal__title {
    color: var(--color-dark-grey);
    font-size: 36px;
    font-weight: 700;
    margin-top: 40px;
  }
  
  .navbar__modal__cards {
    margin-top: 21px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  
  .navbar__modal__card {
    width: 260px;
    height: 260px;
    position: relative;
    box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
  }
  
  .navbar__modal__card:not(:last-child) {
    margin-right: 25px;
  }
  
  .navbar__modal__card__img {
    width: 100%;
    height: 100%;
    /* object-fit: cover; */
  }
  
  .navbar__modal__info {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    width: 100.6%;
    height: 50%;
    top: 100%;
    transform: translateY(-100%);
    background-color: #fff;
  }
  
  .navbar__modal__info__title {
    color: var(--color-dark-grey);
    padding-top: 20px;
    font-size: 28px;
    font-weight: 700;
  }
  
  .navbar__modal__info__courses {
    margin-top: 5px;
    font-size: 16px;
    font-weight: 500;
  }
  
  .navbar__modal__info__button {
    display: inline-block;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    font-family: inherit;
    background-color: var(--color-yellow);
    padding: 5px 15px;
    border: none;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none
  }
  
  .navbar__modal__info__button:focus {
    outline: none;
  }
  
  .navbar__modal__link {
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 40px;
    font-weight: 600;
    color: var(--color-blue);
    font-size: 24px;
    text-decoration: none;
  }

  .container {
    padding-top: 109px;
  }
}


@media (min-width: 696px) and (max-width: 970px) {

  .navbar {
    padding: 18px 25px;
  }

  .button {
    width: 185px;
    height: 40px;
  }

  .navbar__back {
    padding: 9.5px 14px;
    margin-right: 20px;
  }

  .navbar__button {
    width: auto;
    height: auto;
    font-size: 18px;
    padding: 7.5px 14px;
  }

  .navbar__search {
    width: 250px;
    height: 40px;
    margin-left: 25px;
    font-size: 16px;
    padding-left: 42px;
  }

  .navbar__logo {
    width: 39px; 
    height: 40px;
  }

  .navbar__search::placeholder {
    font-size: 16px;
  }

  .search-icon {
    left: 100px;
  }

  .navbar__modal {
    top: 72px;
    padding-left: 60px;
  }

  .navbar__modal__title {

  }

  .navbar__modal__cards {

  }

  .navbar__modal__card {
    width: 205px;
    height: 224px;
  }

  .navbar__modal__card:not(:last-child) {
    margin-right: 16px;
  }

  .navbar__modal__card__img {
    
  }

  .navbar__modal__info {
    padding-left: 10px;
    padding-right: 10px;
    height: 47%;
  }

  .navbar__modal__info__title {
    padding-top: 10px;
    font-size: 20px;
  }

  .navbar__modal__info__courses {
    font-size: 14px;
  }

  .navbar__modal__info__button {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 15px;
    line-height: 14.7px;
    font-size: 14px;
    
  }

  .navbar__modal__link {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 695px) {

  .navbar { display: none }

  .navbar-mob {
    display: block;
    width: 100%;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
    position: fixed;
    z-index: 99;
    background-color: #fff;
  }

  .navbar__logo {
    width: 35px;
    height: 35px;
  }

  .input__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(89px) translateX(-50%);
    width: 354px;
    height: 36px;
  }

  .navbar__search {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    
  }

  .search-icon {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar__menu {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 60px;
    padding-top: 35px;
    padding-bottom: 60px;
    left: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    z-index: 9;
    background-color: #fff;
  }

  .navbar__menu__item {
    list-style: none;
    font-size: 18px;
    font-weight: 300;
  }

  .navbar__menu__item:not(:last-child) {
    padding-bottom: 30px;
  }

  .navbar__menu__link {
    text-decoration: none;
    color: inherit;
  }

  .navbar__modal {
    top: 60px;
    padding-left: 0;
    text-align: center;
  }

  .navbar__modal__title {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }

  .navbar__modal__cards {
    flex-direction: column;
    align-items: center;
  }

  .navbar__modal__card {
    width: 250px;
    height: 220px;
  }

  .navbar__modal__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
    /* margin-bottom: 0; */
  }

  .navbar__modal__card__img {

  }

  .navbar__modal__info {
    padding-left: 14px;
    padding-right: 14px;
    height: 115px;
    top: 100.4%;
    text-align: left;
  }

  .navbar__modal__info__title {
    padding-top: 14px;
    font-size: 24px;
  }

  .navbar__modal__info__courses {
    /* margin-bottom: 20px; */
  }

  .navbar__modal__info__button {
    /* margin-top: 20px; */
  }

  .navbar__modal__link {
    font-size: 18px;
  }
}

.search {
  margin-top: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.search__title {
  color: var(--color-dark-grey);
  font-size: 48px;
  font-weight: 700;
}

.search__button {
  background-color: var(--color-yellow);
  border: none;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  padding: 13px 50px;
  width: auto;
  height: auto;
  border-radius: 2px;
}

.search__title-mob { display: none;}

.search__button-mob { display: none;}

@media (min-width: 1153px) {
  .search {

  }

  .search__title {
    font-size: 64px;
  }

  .search__button {
    font-size: 24px;
    padding: 11px 67.4px;
  }

}

@media (min-width: 696px) and (max-width: 970px) {

  .search {
    margin-top: 60px;
  }

  .search__title {
    font-size: 40px;
  }

  .search__button {
    padding: 10px 50px; 
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  #search { display: none; }

  .search__title-mob {
    display: block;
    font-size: 36px;
    padding-top: 157px;
    text-align: center;
  }

  .search__button-mob {
    display: block;
    width: auto;
    height: auto;
    color: #fff;
    background-color: var(--color-yellow);
    border: none;
    font-family: inherit;
    font-size: 20px;
    font-weight: 700;
    padding: 13.5px 45px;
    margin: 40px auto 0;
  }
  .search__button-mob:focus {
    outline: none;
  }
}

.carousel {
  max-width: 100%;
  margin: 0 auto;
  /* margin: 0 auto; */
  overflow: hidden;
 }
 
 .carousel-mob {
   display: none;
 }
 
 .carousel-container {
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
   width: 875px;
   margin-left: auto;
   margin-right: auto;
 }
 
 
 .carousel__item {
   background-image: url('images/1.png');
   width: 277px;
   height: 291px;
   background-size: cover;
   position: relative;
   box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.17);
   margin-bottom: 20px;
   /* margin-right: 20px; */
 }

 .carousel__item + .carousel__item:not(:nth-child(4)):not(:nth-child(7)) {
   margin-left: 20px;
 }
 

 
 .carousel__item__info {
   box-sizing: border-box;
   position: absolute;
   top: 100.2%;
   left: -0.6px;
   width: 100.7%;
   transform: translateY(-100%);
   background-color: #fff;
   padding: 15px;
 }
 
 .carousel__item__title {
  color: var(--color-dark-grey);
   font-size: 24px;
   font-weight: 700;
   margin-bottom: 10px;
 }
 
 .carousel__item__courses {
   font-size: 16px;
   font-weight: 500;
   margin-bottom: 5px;
 }
 
 .carousel__item__price {
   font-size: 16px;
   font-weight: 300;
   margin-bottom: 10px;
 }
 
 .carousel__item__button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: var(--color-blue);
  padding: 7px 13px;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  text-align: center;
}
 
 .carousel__item__button:focus {
   outline: none;
 }
 
 .swiper-carousel-slide {
   display: flex;
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: flex-start;
   align-items: flex-start;
   /* width: 900px; */
   margin-bottom: 20px;
 }
 
 
 .pagination__buttons {
   text-align: center;
   display: flex;
   justify-content: center;
   align-items: center;
   margin: 0 auto;
 }
 
 .pagination-carousel .swiper-pagination-bullet {
   margin: 0 12px;
   width: 12px;
   height: 12px;
 }

 .swiper-pagination-bullet-active {
  background-color: var(--color-grey);
}
 
 
 .carousel__left {
 }
 
 .carousel__right {
 }
 
 @media (min-width: 1153px) {
   .carousel {
     max-width: 100%;
     /* 1160 */
   }

   .carousel-container {
     width: 1161px;
   }

   .carousel__item {
     height: 369px;
     width: 373px;
     margin-bottom: 20px;
   }

   .carousel__item__info {
     height: 185px;
     left: -1px;
     padding: 20px;
   }

   .carousel__item__title {
     font-size: 30px;
   }

   .carousel__item__courses {
    font-size: 18px;
   }

   .carousel__item__price {
    font-size: 18px;
    margin-bottom: 20px;
   }

   .carousel__item__button {
    font-size: 16px;
    padding: 10px 15px;
    line-height: 16.6px;
   }
 }
 
 @media (min-width: 696px) and (max-width: 970px) {
   .carousel {
    max-width: 100%;
   }
 
   .carousel-container {
      width: 648px;
   }
 
   .carousel__item {
     width: 205px;
     height: 248px;
     background-size: contain;
     margin-bottom: 16px;
   }

   .carousel__item + .carousel__item:not(:nth-child(4)):not(:nth-child(7)) {
    margin-left: 16px;
  }
 
   .carousel__item__info {
     left: -0.4px;
     top: 100.3%;
     padding: 10px 10px;
   }
 
   .carousel__item__title {
     font-size: 20px;
   }
 
   .carousel__item__courses {
     font-size: 14px;
   }
 
   .carousel__item__price {
     font-size: 14px;
     margin-bottom: 15px;
   }
 
   .carousel__item__button {
     padding: 5px 10.5px;
   }
 
   .swiper-carousel-slide {
     margin-bottom: 6px;
   }
 
   .pagination__buttons {
 
   }
 
   .pagination-carousel .swiper-pagination-bullet {
 
   }
 }

@media (min-width: 320px) and (max-width: 695px) {
  .carousel {
    display: none;
  }

  .carousel-mob {
    display: block;
    margin-top: 30px;
    overflow: hidden;
    width: 100%;
  }

  

  .carousel-container {
    width: 354px;
  } 

  .carousel__item {
    background-image: url('images/1.png');
    margin-bottom: 20px;
    width: 100%;
    height: 314px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid #eeeeee; */
  }

  .carousel__item + .carousel__item:not(:nth-child(4)):not(:nth-child(7)) {
    margin-left: 0;
  }

  .carousel__item__info {
    left: -0.6px;
    top: 100.3%;
    padding: 20px;
  }

  .carousel__item__title {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .carousel__item__courses {
    font-size: 16px;
  }

  .carousel__item__price {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .carousel__item__button {
    padding: 10px 20px;
  }

  .swiper-carousel-slide {
    margin-bottom: 20px;
  }

  .pagination__buttons {

  }

  .pagination-carousel .swiper-pagination-bullet {

  }
}

.footer {
  box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
  margin-top: 150px;
  padding: 130px 60px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials {
  margin-right: 45px;
}

.footer__social:not(:last-child) {
  margin-right: 10px;
}

.footer__button {
  background-color: #fff;
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
}

@media (min-width: 1153px) {
  .footer {
    margin-top: 175px;
    padding: 120px 60px 50px;
  }

  .footer__logo {
    width: 53px;
    height: 59px;
  }

  .footer-box {

  }

  .footer__socials {

  }

  .footer__social:not(:last-child) {

  }

  .footer__button {
    font-size: 24px;
    padding: 9px 46px;
    width: auto;
    height: auto;
  }
}

@media (min-width: 696px) and (max-width: 970px) {
  .footer {
    margin-top: 164px;
    padding: 100px 25px 50px;
  }

  .footer__logo {
    width: 50px;
    height: 50px;
  }
  
  .footer-box {
    
  }
  
  .footer__socials {
    margin-right: 40px;
  }
  
  .footer__social:not(:last-child) {
    
  }
  
  .footer__button {
    
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .footer {
    margin-top: 120px;
    padding: 40px 30px 30px 30px;
    align-items: flex-end;
  }
  
  .footer__logo {
    height: 40px;
    width: 40px;
  }

  .footer-box {
    flex-direction: column;
  }
  
  .footer__socials {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .footer__social:not(:last-child) {
    margin-right: 10.5px;
  }
  
  .footer__button {
    width: 132px;
    height: 35px;
    padding: 0;
    font-size: 14px;
  }
}



