@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;700&display=swap');

:root {
  --color-blue: #424885;
  --color-yellow: #EAC435;
  --color-grey: #999999;
  --color-dark-grey: #292929;
  
}


*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}


html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 300;
}

.container {
  max-width: 900px;
  padding-top: 89px;
  margin: 0 auto;
}

@media (min-width: 1153px) {
  .container {
    max-width: 1160px;
  }
}

@media (min-width: 696px) and (max-width: 970px) {
  .container {
    max-width: 660px;
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .container {
    max-width: 356px;
  }
}

.button {
  background-color: none;
  width: 203px;
  height: 45px;
  font-size: 18px;
  font-weight: 700;
  padding: 10px 0px;
}

.button:focus {
  outline: none;
}

.block { display: block !important }

.navbar {
  width: 100%;
  padding: 18px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* filter: drop-shadow(0px 0px 20px rgba(104, 104, 104, 0.17)); */
  box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  background-color: #fff;
}

.navbar-mob {
  display: none;
}


.navbar__button {
  color: var(--color-blue);
  border: 2px solid var(--color-blue);
  background-color: #fff;
  text-decoration: none;
  /* color: inherit; */
  text-align: center;
}

.navbar__logo {
  /* width: 100%;
  height: 100%; */
}

.navbar__search {
  background-color: #f0f0f0;
  width: 352px;
  height: 45px;
  padding: 13px 20px 13px 50px;
  border: none;
  font-weight: 300;
  margin-right: auto;
  margin-left: 107px;
  font-size: 18px;
  font-family: inherit;
}

.navbar__search::placeholder {
  padding-left: 0;
  font-size: 18px;
  font-weight: 300;
  color: var(--color-grey);
}

.search-icon {
  position: absolute;
  left: 230px;
}

.navbar__modal {
  display: none;
  position: absolute;
  top: 85px;
  left: 0;
  padding-left: 140px;
  background-color: #fff;
  width: 100%;
  /* min-height: 700px; */
  box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
  z-index: 99;
}

.navbar__modal__title {
  color: var(--color-dark-grey);
  font-size: 36px;
  font-weight: 700;
  margin-top: 40px;
}

.navbar__modal__cards {
  margin-top: 21px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.navbar__modal__card {
  width: 260px;
  height: 260px;
  position: relative;
  box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
}

.navbar__modal__card:not(:last-child) {
  margin-right: 25px;
}

.navbar__modal__card__img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
}

.navbar__modal__info {
  padding-left: 20px;
  padding-right: 20px;
  position: absolute;
  width: 100%;
  height: 50%;
  top: 100%;
  transform: translateY(-100%);
  background-color: #fff;
}

.navbar__modal__info__title {
  color: var(--color-dark-grey);
  padding-top: 20px;
  font-size: 28px;
  font-weight: 700;
}

.navbar__modal__info__courses {
  margin-top: 5px;
  font-size: 16px;
  font-weight: 500;
}

.navbar__modal__info__button {
  display: inline-block;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  font-family: inherit;
  background-color: var(--color-yellow);
  padding: 5px 15px;
  border: none;
  margin-bottom: 25px;
  text-align: center;
  text-decoration: none
}

.navbar__modal__info__button:focus {
  outline: none;
}

.navbar__modal__link {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 40px;
  font-weight: 600;
  color: var(--color-blue);
  font-size: 24px;
  text-decoration: none;
}

@media (min-width: 1153px) {
  .navbar {
    padding: 25px 60px;
  }

  .navbar__button {
    font-size: 24px;
    padding: 8.6px 38.5px;
    width: auto;
    height: auto;
  }

  .navbar__logo {
    width: 53px;
    height: 59px;
  }

  .navbar__search {
    width: 472px;
    height: 50px;
    padding: 12.5px 20px 12.5px 55px;
    margin-left: 115px;
    font-size: 24px;
    line-height: 25.2px;
  }

  .navbar__search::placeholder {
    font-size: 24px;
    line-height: 25.2px;
    /* padding: 12.5px 0 12.5px 0; */
  }

  .search-icon {
    left: 245px;
    width: 25px;
    height: 21px;
  }

  .container {
    padding-top: 109px;
  }
}


@media (min-width: 696px) and (max-width: 970px) {

  .navbar {
    padding: 18px 25px;
  }

  .button {
    width: 185px;
    height: 40px;
  }

  .navbar__button {
    width: auto;
    height: auto;
    font-size: 18px;
    padding: 10px 15px;
  }

  .navbar__search {
    width: 250px;
    height: 40px;
    margin-left: 25px;
    font-size: 16px;
    padding-left: 42px;
  }

  .navbar__logo {
    width: 39px; 
    height: 40px;
  }

  .navbar__search::placeholder {
    font-size: 16px;
  }

  .search-icon {
    left: 100px;
  }

  .navbar__modal {
    top: 72px;
    padding-left: 60px;
  }

  .navbar__modal__title {

  }

  .navbar__modal__cards {

  }

  .navbar__modal__card {
    width: 205px;
    height: 224px;
  }

  .navbar__modal__card:not(:last-child) {
    margin-right: 16px;
  }

  .navbar__modal__card__img {

  }

  .navbar__modal__info {
    padding-left: 10px;
    padding-right: 10px;
    height: 45%;
  }

  .navbar__modal__info__title {
    padding-top: 10px;
    font-size: 20px;
  }

  .navbar__modal__info__courses {
    font-size: 14px;
  }

  .navbar__modal__info__button {
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: 5px;
  }

  .navbar__modal__link {
    font-size: 16px;
  }
}

@media (min-width: 320px) and (max-width: 695px) {

  .navbar { display: none }

  .navbar-mob {
    display: block;
    width: 100%;
    padding: 14px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
    position: fixed;
    z-index: 99;
    background-color: #fff;
  }

  .navbar__logo {
    width: 35px;
    height: 35px;
  }

  .input__container {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateY(89px) translateX(-50%);
    width: 354px;
    height: 36px;
  }

  .navbar__search {
    width: 100%;
    height: 100%;
    margin-right: 0;
    margin-left: 0;
    
  }

  .search-icon {
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  .navbar__menu {
    display: none;
    position: absolute;
    top: 0;
    margin-top: 60px;
    padding-top: 35px;
    padding-bottom: 60px;
    left: 0;
    /* left: 50%;
    transform: translateX(-50%); */
    width: 100%;
    text-align: center;
    z-index: 9;
    background-color: #fff;
  }

  .navbar__menu__item {
    list-style: none;
    font-size: 18px;
    font-weight: 300;
  }

  .navbar__menu__item:not(:last-child) {
    padding-bottom: 30px;
  }

  .navbar__menu__link {
    text-decoration: none;
    color: inherit;
  }

  .navbar__modal {
    top: 60px;
    padding-left: 0;
    text-align: center;
  }

  .navbar__modal__title {
    font-size: 24px;
    margin-top: 20px;
    text-align: center;
  }

  .navbar__modal__cards {
    flex-direction: column;
    align-items: center;
  }

  .navbar__modal__card {
    width: 250px;
    height: 220px;
  }

  .navbar__modal__card:not(:last-child) {
    margin-right: 0;
    margin-bottom: 20px;
    /* margin-bottom: 0; */
  }

  .navbar__modal__card__img {
    width: 100%;
    height: 100%;
  }

  .navbar__modal__info {
    padding-left: 14px;
    padding-right: 14px;
    height: 115px;
    top: 100.4%;
    text-align: left;
  }

  .navbar__modal__info__title {
    padding-top: 14px;
    font-size: 24px;
  }

  .navbar__modal__info__courses {
    /* margin-bottom: 20px; */
  }

  .navbar__modal__info__button {
    /* margin-top: 20px; */
  }

  .navbar__modal__link {
    font-size: 18px;
  }
}

.reviews-box {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.reviews__info {
  width: 500px;
}

.reviews__info__title {
  margin-bottom: 10px;
  color: var(--color-dark-grey);
  font-size: 48px;
  font-weight: 700;
}

.reviews__info__description {
  margin-bottom: 30px;
  font-size: 18px;
  font-weight: 300;
  width: 350px;
}

.reviews__button {
  display: block;
  margin-top: 40px;
  font-size: 18px;
  border: none;
  background-color: var(--color-blue);
  color: #fff;
  text-decoration: none;
  text-align: center;
}

.reviews__img__container {
  height: 100%;
  width: auto;
}

.reviews__img {
  width: auto;
  height: 100%;
}

.swiper-container-text {
  width: 500px;
  height: 100%;
  /* overflow: hidden; */
}

.swiper-slide {
  /* text-align: left; */
  /* height: 300px; */
  display: inline-flex;
  flex-direction: column;
  justify-content: flex-start;
}

.swiper-pagination-bullet-active {
  background-color: var(--color-grey);
}

.swiper-pagination-bullet {
  cursor: pointer;
}

@media (min-width: 1153px) {
  .reviews-box {
    margin-top: 220px;
  }

  .reviews__info {
    width: 650px;
  }

  .reviews__info__title {
    font-size: 64px;
    margin-bottom: 20px;
  }

  .reviews__info__description {
    font-size: 24px;
    width: 500px;
  }

  .reviews__button {
    display: inline-block;
    margin-top: 60px;
    font-size: 24px;
    padding: 16px 23px;
    width: auto;
    height: auto;
  }

  .reviews__img__container {
    width: 570px;
    height: 438px;
  }

  .reviews__img {

  }

  .swiper-container-text {

  }

  .swiper-slide {

  }
}

@media (min-width: 696px) and (max-width: 970px) {
  .reviews-box {
    margin-top: 60px;
    flex-direction: column-reverse;
    /* align-items: flex-start; */
  }

  .reviews__info {
    align-self: flex-start;
  }

  .reviews__info__title {
    font-size: 40px;
  }

  .reviews__info__description {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .reviews__button {
    width: 205px;
    height: 50px;
    margin-top: 30px;
    padding: 14px 16px;
  }

  .reviews__img__container {
    margin-bottom: 60px;
  }

  .reviews__img {
    width: 620px;
    height: 472px;
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .reviews-box {
    margin-top: 105px;
    flex-direction: column-reverse;
  }

  .reviews__info {
    width: 356px;
    align-self: flex-start;
  }

  .reviews__info__title {
    font-size: 36px;
  }

  .reviews__info__description {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .reviews__button {
    margin-top: 30px;
    width: 230px;
    height: 50px;
    font-size: 20px;
  }

  .reviews__img__container {
    margin-bottom: 60px;
  }

  .reviews__img {
    width: 354px;
    height: 273px;
  }
}

.centers {
  margin-top: 150px;
}

.centers-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.centers__title {
  color: var(--color-dark-grey);
  font-size: 48px;
  font-weight: 700;
}

.centers__dropdowns {
  display: flex;
  justify-content: center;
  align-items: center;
}

.centers__dropdown {
  background-color: #f0f0f0;
  padding: 10px;
  width: 205px;
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  position: relative;
}

.centers__dropdown:not(:last-child) {
  margin-right: 15px;
}

.centers__dropdown-name {
  font-size: 16px;
  font-weight: 300;
}

.centers__dropdown-arrow {
  width: 16px;
  height: 16px;
  transform: rotate(0deg);
  transition: transform .5s linear;
}

.centers__dropdown-arrow.open {
  transform: rotate(180deg);
  transition: transform .5s linear;
}

.dropdown__list {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  list-style: none;
  background-color: #f0f0f0;
  z-index: 9;
}

.dropdown__item {
  font-size: 16px;
  font-weight: 300;
  padding: 10px;
}

.tick {
  display: block;
}

.tick::after {
  font-weight: 500;
  font-family: Arial, Helvetica, sans-serif;
  content: "L";
  transform: scaleX(-1) rotate(-35deg);
  position: absolute;
  right: 14px;
}

.courses {
  margin-top: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
}

.course {
  border: 2px solid var(--color-grey);
  font-size: 16px;
  font-weight: 500;
  padding: 10px 15px;
  border-radius: 10px;
  color: var(--color-grey);
  user-select: none;
}

.course:not(:last-child) {
  margin-right: 15px;
}



.green {
  border-color: #59BF29;
  color: #59bf29;
}

.blue {
  border-color: #2aa8cf;
  color: #2aa8cf;
}

.violet {
  border-color: #8a469b;
  color: #8a469b;
}

.yellow {
  border-color: #eac435;
  color: #eac435;
}

@media (min-width: 1153px) {
  .centers {
    margin-top: 260px;
  }
  
  .centers-box {
   
  }
  
  .centers__title {
    font-size: 64px;
  }
  
  .centers__dropdowns {
    
  }
  
  .centers__dropdown {
    width: 275px;
    height: 50px;
    padding: 12px 20px;
  }
  
  .centers__dropdown:not(:last-child) {
    margin-right: 20px;
  }
  
  .centers__dropdown-name {
    font-size: 20px;
  }
  
  .centers__dropdown-arrow {
    width: 24px;
    height: 24px;
  }
  
  .centers__dropdown-arrow.open {
    
  }
  
  .dropdown__list {
    top: 80px;
  }
  
  .dropdown__item {
    font-size: 20px;
    padding: 12px 20px;
  }
  
  .tick {
    
  }
  
  .tick::after {
    right: 25px;
  }
  
  .courses {
    
  }
  
  .course {
    font-size: 20px;
    padding: 13.5px 20px;
  }
  
  .course:not(:last-child) {
    margin-right: 20px;
  }
  
}



@media (min-width: 696px) and (max-width: 970px) {
  .centers {
    margin-top: 120px;
  }

  .centers-box {
    flex-direction: column;
    align-items: flex-start;
  }

  .centers__title {
    font-size: 40px;
    margin-bottom: 20px;
  }

  .centers__dropdowns {

  }

  .centers__dropdown {

  }

  .centers__dropdown-name {

  }

  .centers__dropdown-arrow {

  }

  .dropdown__list {

  }

  .dropdown__item {

  }

  .courses {
    margin-top: 25px;
  }

  .course {
    font-size: 14px;
    padding: 10px;
  }

  .course:not(:last-child) {
    margin-right: 10.45px;
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .centers {
    margin-top: 120px;
    /* width: 100%; */
    /* overflow: hidden; */
  }

  .centers-box {
    /* width: 100%; */
    flex-direction: column;
    align-items: flex-start;
  }

  .centers__title {
    font-size: 36px;
    margin-bottom: 15px;
  }

  .centers__dropdowns {

  }

  .centers__dropdown {
    width: 173px;
  }

  .centers__dropdown-name {

  }

  .centers__dropdown-arrow {

  }

  .dropdown__list {

  }

  .dropdown__item {

  }

  .courses {
    margin-top: 10px;
    flex-wrap: wrap;
  }

  .course {
    font-size: 14px;
    margin-bottom: 10px;
    padding: 10px;
  }

  .course:not(:last-child) {
   margin-right: 10px;
  }
}

/* ////////////////////////// */
/* ///////CAROUSEL//////// */
/* ////////////////////////// */


.carousel {
padding-top: 40px;
 /* margin-top: 40px; */
 max-width: 100%;
 /* margin: 0 auto; */
 overflow: hidden;
}

.carousel-mob {
  display: none
}

.carousel-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 900px;
}


.carousel__item {
  background-image: url('images/1.png');
  width: 286px;
  height: 291px;
  background-size: cover;
  position: relative;
  box-shadow: 0px 10px 20px rgba(104, 104, 104, 0.17);
  margin-bottom: 35px;
}

.carousel__item + .carousel__item:not(:nth-child(4)):not(:nth-child(7)) {
  margin-left: 20px;
}

/* .carousel__item:not(:nth-of-type(3)) {
  margin-right: 20px;
} */

/* .carousel__item__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  
} */

/* .carousel__item__info {
  position: absolute;
  top: 105%;
  left: -1px;
  width: calc(100% + 1.5px);
  transform: translateY(-100%);
  background-color: #fff;
  padding: 15px;
} */

.carousel__item__info {
  box-sizing: border-box;
  position: absolute;
  top: 100.2%;
  left: -0.6px;
  width: 100.7%;
  transform: translateY(-100%);
  background-color: #fff;
  padding: 15px;
  /* margin: 15px; */
  /* padding-right: 0; */
}

.carousel__item__title {
  color: var(--color-dark-grey);
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 10px;
}

.carousel__item__courses {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
}

.carousel__item__price {
  font-size: 16px;
  font-weight: 300;
  margin-bottom: 10px;
}

.carousel__item__button {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  border: none;
  background-color: var(--color-blue);
  padding: 7px 13px;
  font-family: inherit;
  color: #fff;
  text-decoration: none;
  text-align: center;
  /* margin-top: 10px; */
}

.carousel__item__button:focus {
  outline: none;
}

.swiper-carousel-slide {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  width: 900px;
  margin-bottom: 20px;
  /* overflow: visible; */
}


.pagination__buttons {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.pagination-carousel .swiper-pagination-bullet {
  margin: 0 12px;
  width: 12px;
  height: 12px;
}

/* .pagination-carousel .swiper-pagination-bullet-active {
  color: none;
} */


.carousel__left {
}

.carousel__right {
}

@media (min-width: 1153px) {
  .carousel {
    margin-top: 60px;
    max-width: 100%;
  }

  .carousel-container {
    width: 1161px;
  }

  .carousel__item {
    width: 373px;
    height: 369px;
    margin-bottom: 20px;
  }

  .carousel__item__info {
    height: 185px;
    left: -1px;
    padding: 20px;
  }

  .carousel__item__title {
    font-size: 30px;
  }

  .carousel__item__courses {
    font-size: 18px;
  }

  .carousel__item__price {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .carousel__item__button {
    font-size: 16px;
    padding: 10px 15px;
    line-height: 16.6px;
  }
}

@media (min-width: 696px) and (max-width: 970px) {
  .carousel {
    padding-top: 40px;
  }

  .carousel-container {
    width: 648px;
  }

  .carousel__item {
    width: 205px;
    height: 248px;
    background-size: contain;
  }

  .carousel__item + .carousel__item:not(:nth-child(4)):not(:nth-child(7)) {
    margin-left: 16px;
  }

  .carousel__item__info {
    left: -0.4px;
    top: 100.3%;
    padding: 10px 10px;
  }

  .carousel__item__title {
    font-size: 20px;
  }

  .carousel__item__courses {
    font-size: 14px;
  }

  .carousel__item__price {
    font-size: 14px;
    margin-bottom: 15px;
  }

  .carousel__item__button {
    padding: 5px 10px;
  }

  .swiper-carousel-slide {
    margin-bottom: 10px;
  }

  .pagination__buttons {

  }

  .pagination-carousel .swiper-pagination-bullet {

  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .carousel {
    display: none;
  }

  .carousel-mob {
    display: block;
    margin-top: 30px;
    max-width: 100%;
    overflow: hidden;
  }

  .carousel-container {
    width: 354px;
  }

  .carousel__item {
    background-image: url('images/1.png');
    margin-bottom: 20px;
    width: 100%;
    height: 314px;
    background-size: cover;
    background-repeat: no-repeat;
    /* border: 1px solid #eeeeee; */
  }

  .carousel__item + .carousel__item:not(:nth-child(4)):not(:nth-child(7)) {
    margin-left: 0;
  }

  .carousel__item__info {
    left: -0.6px;
    top: 100.3%;
    padding: 20px;
  }

  .carousel__item__title {
    font-size: 30px;
    margin-bottom: 5px;
  }

  .carousel__item__courses {
    font-size: 16px;
  }

  .carousel__item__price {
    font-size: 16px;
    margin-bottom: 15px;
  }

  .carousel__item__button {
    padding: 10px 20px;
  }

  .swiper-carousel-slide {
    margin-bottom: 20px;
  }

  .pagination__buttons {

  }

  .pagination-carousel .swiper-pagination-bullet {

  }
}





/* //////////// */
/* PURPOSE */
/* //////////// */


.purpose {
  margin-top: 150px;
}

.purpose__title {
  color: var(--color-dark-grey);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 37px;
}

.purpose-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.purpose__img__container {
  width: auto;
  height: 100%;
}

.purpose__img {

}

.purpose__info {
  width: 420px;
}

.purpose__info__title {
  font-size: 22px;
  font-weight: 600px;
  margin-bottom: 10px;
}

.purpose__info__description {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}

@media (min-width: 1153px) {
  .purpose {
    margin-top: 175px;
  }

  .purpose__title {
    font-size: 64px;
    margin-bottom: 60px;
  }

  .purpose__img__container {

  }

  .purpose__img {
    width: 525px;
    height: 360px;
  }

  .purpose__info {
    width: 570px;
  }

  .purpose__info__title {
    font-size: 24px;
    letter-spacing: 0.02em;
    margin-bottom: 15px;
  }

  .purpose__info__description {
    font-size: 20px;
    letter-spacing: 0.02em;
    margin-bottom: 30px;
  }


}

@media (min-width: 696px) and (max-width: 970px) {
  .purpose {
    margin-top: 120px;
  }

  .purpose__title {
    font-size: 40px;
    margin-bottom: 30px;
  }

  .purpose-box {
    flex-direction: column;
  }

  .purpose__img__container {
    margin-bottom: 30px;
  }

  .purpose__img {
    width: 455px;
    height: 330px;
  }

  .purpose__info {
    width: 648px;
  }

  .purpose__info__title {
    font-size: 20px;
    margin-bottom: 15px;
  }

  .purpose__info__description {
    font-size: 16px;
    margin-bottom: 30px;
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .purpose {
    margin-top: 110px;
  }

  .purpose__title {
    font-size: 36px;
    margin-bottom: 40px;
  }

  .purpose-box {
    flex-direction: column;
  }

  .purpose__img__container {
    margin-bottom: 40px;
  }

  .purpose__img {
    width: 249px;
    height: 171px;
  }

  .purpose__info {
    width: 354px;
  }

  .purpose__info__title {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .purpose__info__description {
    font-size: 14px;
    margin-bottom: 20px;
  }
}

.application {
  margin-top: 150px;
}

.application-mob {
  display: none;
}

.application__title {
  color: var(--color-dark-grey);
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 10px;
}

.application__description {
  font-size: 18px;
  font-weight: 300;
}

.application-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.application__form {
  margin-top: 35px;
  width: 352px;
}

.application__input-container {
  margin-bottom: 20px;
}

.application__input__title {
  font-size: 18px;
  margin-bottom: 15px;
  position: relative;
} 

.application__input__title::after {
  position: absolute;
  top: -16px;
  font-family: inherit;
  color: var(--color-yellow);
  /* right: 0; */
  content: "*";
  font-size: 55px;
  font-weight: 300;
} 

.application__input {
  width: 100%;
  font-family: inherit;
  background-color: #fff;
  border: none;
  box-shadow: 0px 1px 9px rgba(106, 106, 106, 0.25);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
}

.application__input:focus {
  outline: none;
}

.application__input::placeholder {
  font-family: inherit;
  color: var(--color-grey);
}

.application__input-container {
  width: 100%;
}


.application__textarea {
  width: 100%;
  height: 121px;
  font-family: inherit;
  background-color: #fff;
  border: none;
  box-shadow: 0px 1px 9px rgba(106, 106, 106, 0.25);
  border-radius: 4px;
  font-size: 16px;
  padding: 10px 15px;
}

.application__textarea:focus {
  outline: none;
}

.application__textarea::placeholder {
  font-family: inherit;
  color: var(--color-grey);
}

.application__button {
  display: block;
  font-family: inherit;
  background-color: #fff;
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
  font-size: 18px;
  font-weight: 700;
  margin: 0 auto;
  /* display: inline-flex;
  justify-content: center;
  align-items: center; */
}

.application__img__container {
  width: auto;
  height: 100%;
}

.application__img {
  width: 446px;
  height: 413px;
}

@media (min-width: 1153px) {
  .application {
    margin-top: 200px;
  }

  .application__title {
    font-size: 64px;
  }

  .application__description {
    font-size: 20px;
    line-height: 21px;
  }

  .application__form {
    margin-top: 45px;
    width: 456px;
  }

  .application__input-container {
    margin-bottom: 30px;
  }

  .application__input__title {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .application__input__title::after {
    font-size: 60px;
  }

  .application__input {
    font-size: 18px;
    padding: 15px 12px;
  }

  .application__input::placeholder {
    font-size: 18px;
  }

  .application__input-container {

  }

  .application__textarea {
    height: 168px;
    font-size: 18px;
    padding: 15px 12px;
  }

  .application__button {
    margin-top: 30px;
    font-size: 24px;
    width: auto;
    height: auto;
    padding: 9px 78px;
  }

  .application__img {
    width: 545px;
    height: 506px;
  }
}

@media (min-width: 696px) and (max-width: 970px) {
  .application {
    margin-top: 120px;
  }
  
  .application__title {
    font-size: 40px;
    margin-bottom: 15px;
  }
  
  .application__description {
    font-size: 16px;
  }
  
  .application-box {
  
  }
  
  .application__form {
    margin-top: 20px;
    width: 279px;
  }
  
  .application__input-container {
    margin-bottom: 15px;
  }
  
  .application__input__title {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .application__input {
    font-size: 14px;
    padding: 10px;
    -webkit-appearance: none;
  }
  
  .application__input-container {
    
  }
  

  .application__textarea {
    font-size: 14px;
  }
  
  .application__button {
  
  }
  
  .application__img__container {
  
  }
  
  .application__img {
    width: 325px;
    height: 303px;
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .application {
    display: none;
  }

  .application-mob {
    display: block;
    margin-top: 120px;
  }
  
  .application__title {
    font-size: 36px;
    margin-bottom: 15px;
  }
  
  .application__description {
    font-size: 16px;
    font-weight: 300;
  }
  
  .application__form {
    margin-top: 35px;
    width: 354px;
  }
  
  .application__input-container {
    margin-bottom: 20px;
  }
  
  .application__input__title {
    font-size: 16px;
    margin-bottom: 10px;
    position: relative;
  } 
  
  .application__input {
    font-size: 14px;
    padding: 10px;
    -webkit-appearance: none;

  } 
  
  .application__textarea {
    height: 150px;
    font-size: 14px;
    padding: 10px;
    -webkit-appearance: none;
  }
  
  
  .application__button {
    font-size: 20px;
    margin-top: 30px;
    width: 230px;
    height: 50px;
    /* padding: 13px 153px; */
    /* display: inline-flex;
    justify-content: center;
    align-items: center; */
  }
}

.footer {
  box-shadow: 0px 0px 20px rgba(104, 104, 104, 0.17);
  margin-top: 150px;
  padding: 130px 60px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__socials {
  margin-right: 45px;
}

.footer__social:not(:last-child) {
  margin-right: 10px;
}

.footer__button {
  background-color: #fff;
  border: 2px solid var(--color-blue);
  color: var(--color-blue);
}

@media (min-width: 1153px) {
  .footer {
    margin-top: 175px;
    padding: 120px 60px 50px;
  }

  .footer__logo {
    width: 53px;
    height: 59px;
  }

  .footer-box {

  }

  .footer__socials {

  }

  .footer__social:not(:last-child) {

  }

  .footer__button {
    font-size: 24px;
    padding: 9px 46px;
    width: auto;
    height: auto;
  }
}

@media (min-width: 696px) and (max-width: 970px) {
  .footer {
    margin-top: 164px;
    padding: 100px 25px 50px;
  }

  .footer__logo {
    width: 50px;
    height: 50px;
  }
  
  .footer-box {
    
  }
  
  .footer__socials {
    margin-right: 40px;
  }
  
  .footer__social:not(:last-child) {
    
  }
  
  .footer__button {
    
  }
}

@media (min-width: 320px) and (max-width: 695px) {
  .footer {
    margin-top: 120px;
    padding: 40px 30px 30px 30px;
    align-items: flex-end;
  }
  
  .footer__logo {
    height: 40px;
    width: 40px;
  }

  .footer-box {
    flex-direction: column;
  }
  
  .footer__socials {
    margin-right: 0;
    margin-bottom: 10px;
  }
  
  .footer__social:not(:last-child) {
    margin-right: 10.5px;
  }
  
  .footer__button {
    width: 132px;
    height: 35px;
    padding: 0;
    font-size: 14px;
  }
}